<p id="notice"><%= notice %>

<table>
  <tr>
    <td><strong>Profile Image</strong><td>
    <td><%= image_tag @user.image.url %>
  </tr>
</table>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to "Edit", edit_user_path(@user.id) %>
<%= link_to 'Home', pictures_path %>