<p id="notice"><%= notice %>

<table>
  <tr>
    <td><strong>Profile Image</strong><td>
    <td><%= image_tag @user.image.url %>
  </tr>
</table>

<table>
  <strong>Name:</strong>
  <%= @user.name %>
</table>

<table>
  <tr>
    <% if @user == current_user %>
      <td><%= link_to "Edit", edit_user_path(@user.id) %></td>
      <td><%= link_to 'UnRegister', user_path(@user), method: :delete, data: { confirm: 'Do you really want to unregister?' } %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
    <td><%= link_to 'Back', pictures_path %></td>
  </tr>
</table>
