<tbody>
  <% @pictures.each do |picture| %>
    <tr>
      <div class="Picture">
        <td><%= image_tag picture.user.image.url %></td>
        <td><%= link_to "#{picture.user.name}", user_path(picture.user.id) %></td>
        <td><%= image_tag picture.image.url %></td>
        <td><%= picture.content %></td>
        <td><%= link_to 'Show', picture %></td>
        <% if picture.user == current_user %>
          <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
          <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure? '} %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </div>
    </tr><br>
  <% end %>
</tbody>
