<p id="notice"><%= notice %></p>

<tbody>
  <% @pictures.each do |picture| %>
    <tr>
      <td><%= image_tag picture.user.image.url %></td>
      <td><%= link_to "#{picture.user.name}", user_path(picture.user.id) %></td>
      <td><%= picture.content %></td>
      <td><%= image_tag picture.image.url %></td>
      <td><%= link_to 'Show', picture %></td>
      <% if picture.user == current_user %>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure? '} %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
